<!DOCTYPE html>
<html>
<head>
<title>vagrant ansible test</title>
</head>
<body>

<p>This file is /var/www/html/index.html</p>

In has been installed by vagrant provision.

And a value from a variable: {{ index_extra_value }}

</body>
</html> 
